

<footer class="footer">
    <ul class="ulFooter">
        <li class="list__footer"><a class="a__footer" href="/">Accueil</a></li>
        <li class="list__footer" ><a class="a__footer" href="/catalogue">Catalogue</a></li>
        <li class="list__footer" ><a class="a__footer" href="/boutique">Boutique</a></li>
    </ul>
    <p>© 2024 oCoffee - Tous droits réservés</p>
</footer>

<script src="/app.js"></script>
</body>
</html>