<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>o'Coffee</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Grey+Qo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="nav">
        <ul class="list__nav">
            <img class="logo__nav" src="/visuals/logo.svg" alt="logo oCoffee">
            <div class="box__h2">
                <h2 class="header__title">O'Coffee</h2>
            </div>
                    <div class="box__li">
                         <li class="item__nav" ><a href="/">Accueil</a></li>
                        <li class="item__nav" ><a href="/catalogue">Catalogue</a></li>
                        <li class="item__nav" ><a href="/boutique">Boutique</a></li>
                    </div>
        </ul>
            <img class="logo__menu" src="/visuals/icon-nav.svg" alt="logo nav">
    </nav>

 


