<%- include('./partials/header') %>

<div class="container_404">
<h1 class="title_404">404</h1>
<p>Quelque chose d'horrible s'est produit</p>
<p>C'est de notre faute</p>
<p>Veuillez ré-essayer plus tard</p>
<p>
    <a href="/">Retour à l'accueil</a>
</p>
</div>



<%- include('./partials/footer') %>